<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Decryption</title>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" style="color: black" href="{% url 'home' %}">Home</a>
      <a class="navbar-brand" style="color: black" href="{% url 'encryption' %}">Encryption</a>
    </nav>

  </head>
  <body>

    <br>

    <form action="" method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col s4 offset-s1">
          <label class="active" for="body">Message</label>
          {{ form.msg }}
        </div>
      </div>

      <div class="row">
        <div class="col offset-s1">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </div>

    </form>

  </body>

  <style>
    textarea {
      height: 20em;
      width: 50em;
    }

    .navbar-dark {
      background-color: White;
    }
  </style>

  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $(document).ready(function() {
      $('input#input_text, textarea#textarea2').characterCounter();
    });

    M.textareaAutoResize($('#textarea1'));

    $(document).ready(function() {
      M.updateTextFields();
    });

  </script>
</html>
