{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Encryption</title>
  </head>

  <body>
    <br />
    <div class="row">
      <div class="col offset-s2">
        <h5>I wanted to tell you all my secrets, but you became one of them instead</h5>
      </div>
    </div>

    <form action="" target='_blank' method="post">
      {% csrf_token %}

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="input-field">
                {{ form.author }}
                <label class="active" for="author">Author</label>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="input-field">
                {{ form.title }}
                <label class="active" for="title">Title</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s2 offset-s2">
            <ul class="nav">
              <li class="nav-item">
                <a class="material-icons" target='_blank' href="{% url 'home' %}">home</a>
              </li>
              <li class="nav-item">
                <pre class="tab">      </pre>
              </li>
              <li class="nav-item">
                <a class="material-icons" target='_blank' href="{% url 'decryption' %}">vpn_key</a>
              </li>
              <li class="nav-item">
                <pre class="tab">      </pre>
              </li>
              <li class="nav-item">
                <a class="material-icons" href="">lock</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="container">
          <label class="active" for="author">Message</label>
        </div>

        <div class="container">
            {{ form.body }}
        </div>

        <br />

        <div class="container">
            <button class="btn btn-primary" style="background-color: #181818;" type="submit">Encrypt</button>
        </div>
      </form>

    <br />
    <br />
  </body>
</html>
